@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

.poppins-heavy {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.pl-green {
  color: #39b54a;
}

.pl-navy {
  color: #3c516e;
}