@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;600&display=swap');

.poppins-bold {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
}

.poppins-thin {
  font-family: 'Poppins', sans-serif;
  font-weight: 100;
}

.pl-green {
  color: #39b54a;
}

.pl-green-bg {
  background-color: #39b54a;
}

.pl-navy {
  color: #3c516e;
}

.pl-navy-bg {
  background-color: #3c516e;
}

.auth-button {
  border: none;
}